@{
    ViewBag.Title = Resources.Resources.Contact_Title;
}

<h2>@Resources.Resources.Contact_Title</h2>
<img src="~/Content/images/contact.png" />



<address>
    <strong>@Resources.Resources.Contact_Title:</strong>   <a href="mailto:bojana.borkovic@outlook.com">bojana.borkovic@outlook.com</a><br />
</address>