
@model   IEnumerable<TaskControl.Models.ProjectViewModel>
@{
    ViewBag.Title = "Projects";
}
<h2 class="text-primary">Projects</h2>


	<table class="table table-striped col-md-6">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		@foreach (var item in Model)
		{
			<tbody>
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
				</tr>
			</tbody>
			}
	</table>

